<!doctype html>
{% load static %}
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>
        </head>
        <body>
        <div class="d-flex positioned flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
              <nav id="menu" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
              <h6><a class="navbar-brand" href="#">AutoService</a></h6>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">

                    {% if user.is_superuser %}
                        <li1 class="nav-item">
                            <a class="pressed-button" aria-current="page" href="{% url 'create_service' %}">Create a service</a>
                        </li1>

                        <li2 class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'list_of_services' %}">List of services</a>
                  </li2>
                    <li3 class="nav-item">
                        <div id="account" class="dropdown ">
                          <button class="dropbtn">Account</button>
                              <div class="dropdown-content">
                                <a href="{% url 'home' %}">My account</a>
                                <a href="{% url 'logout' %}">Sign out</a>
                                <a href="{% url 'register' %}">Create a new account</a>
                              </div>
                        </div>
                    </li3>
                    {% else %}
                        <li4 class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'list_of_services' %}">List of services</a>
                         </li4>
                        <li5 class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'cart_view_detail' %}">
                                Basket
                                <span class="badge badge-pill badge-primary">
                                    {{ basket_item_count }}
                                </span>
                            </a>
                        </li5>
                        <li6 class="nav-item">
                            <div class="dropdown ">
                            <button class="dropbtn">Account</button>
                                <div class="dropdown-content">
                                    <a href="{% url 'home' %}">My account</a>
                                    <a href="{% url 'logout' %}">Sign out</a>
                                    <a href="{% url 'register' %}">Create a new account</a>
                                </div>
                            </div>
                        </li6>
                    {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <br>
        {% block body %}

        {% endblock %}

        <footer class="container">
            <br><br><br><br><br><br><br><br><p class="float-end">
            <p>© 2023 AutoService, Inc. · </p>
          </footer>
        </body>
</html>